# Data (do not commit)
data/
*.csv
*.parquet

# Models (ignore by default)
models/*.joblib
models/*.pkl

# Allow committing specific artifacts
!models/xgb_model.joblib
!models/app_sample.parquet
!models/metrics.json

# Python cache / env
__pycache__/
*.pyc
.venv/

# OS
.DS_Store

